{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Evaluate Master Theorem</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <div class="evaluate__content">
      <h1 class="evaluate__title">Evaluate Master Theorem</h1>
      {% if plot_url %}
      <img
        src="{{ plot_url }}"
        alt="Master Theorem Visualization"
        class="results__plot-image--responsive"
      />
      {% endif %} {% if complexity and case %}
      <p><strong>Time Complexity:</strong> {{ complexity }}</p>
      <p><strong>Evaluation:</strong> {{ case }}</p>
      {% endif %}
    </div>
    <div class="evaluate__form">{% include 'evaluate_form.html' %}</div>
  </body>
</html>
